<!-- TODO: determine if we even need a router outlet. If not, remove Angular router dependency as well? However, we might need the router dependency to read some QS params! -->
<router-outlet></router-outlet>
<h1>Pick that color</h1>

<!-- TODO: extract to components -->
<h2>Paints</h2>

<!-- TODO: extract to separate component -->
<!-- TODO: extract inline style to scss file -->
<mat-form-field style="width: 345px">
  <mat-label>Paint</mat-label>
  <input
    type="text"
    placeholder="Select your paint"
    matInput
    [formControl]="paintAutocomplete"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete
    autoActiveFirstOption
    #auto="matAutocomplete"
    (optionSelected)="onPaintSelectionChange($event)"
  >
    <mat-option *ngFor="let paint of filteredPaints$ | async" [value]="paint.name">
      {{ paint.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<section *ngIf="selectedPaint">
  <!-- TODO: use material input field iso own search bar -->
  <app-search-bar (searchTermUpdated)="filterColors($event)"></app-search-bar>
  <section class="tile-container">
    <app-color-tile *ngFor="let color of filteredColors" [color]="color"></app-color-tile>
    <!-- TODO: empty state when no matches -->
  </section>
</section>
