html,
body {
  height: 100%;
}

body {
  font-family: Inter, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #404040;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  &.title {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: bold;
  }
}
